.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    width: 100vw;
  }
  .details{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .title{
      text-align: left;
      margin: 10px;
  }
  .details {
    width: 28rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input-container > label {
    margin: 10px;
    font-size: 22px;
  }
  .input-container > div > input {
    margin: 10px;
    padding: 15px 18px;
    background-color: gainsboro;
    outline: none;
    border: none;
  }
  .button > button{
      margin: 10px;
      padding: 10px 18px;
      width: 100%;
  }
  .error-list{
    color: red;
    text-align: left;
    font-size: 0.95rem;
    margin-left: 10px;
  }
  .container{
    position:relative;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    padding-top: 0.3rem;
    /* border: 1px solid #e0e0e0; */
  }
  
  label{
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #5f5f5f;
    font-size: 1rem;
  }
  
  .content{
    padding: 0 0.5rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 0 solid grey;
    transition: border-bottom 0.15s ease-out;
    background-color: white;
    font-size: 1.1rem;
    outline: none;
  }
  
  input::placeholder{
    color: #dfdfdf;
    font-size: 0.95rem;
  }
  
  input:focus{
  border-width: 2.9px;
  }
  
  .input-validation{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
  width: 12rem;
  }